<div class="card-resident">
  <div class="flex-card d-flex">
    <% #if resident.photo.attached? %>
    <% if family_member.photography.present? %>
      <%#= cl_image_tag resident.photo.key, crop: :fill %>
      <%= image_tag family_member.photography %>
    <% else %>
      <%= image_tag "https://upload.wikimedia.org/wikipedia/commons/8/89/Portrait_Placeholder.png", crop: :fill %>
    <% end %>

    <div class="card-resident-infos">
      <div>
        <h2><%= family_member.first_name.capitalize %></h2>
        <p class="email-family-member"><%= family_member.email %></p>
      </div>
    </div>
  </div>

  <%# DO NOT delete this button, it is repeated on purpose because if we delete it the other one won't appear %>
  <%= link_to "" do %>
    <div class="card-resident-icon">
      <i class="fa-solid fa-envelope"></i>
    </div>
  <% end %>

</div>
