<div data-controller="toggle-items">
  <div class= "d-flex justify-content-between align-items-baseline" >
    <h1 class="page-title">Contacts</h1>
    <div class="page-title">
        <button data-toggle-items-target="addIcon"><i class="fa-solid fa-plus" data-action="click->toggle-items#displayForm"></i></button>
    </div>
  </div>
  <div data-toggle-items-target="addForm" class="m-2 d-none">
    <%= render "form", resident: @resident %>
  </div>
</div>



<% if @family_members.count == 0 %>

    <h3 class="grey-empty-text">There are no contacts yet for <%= @resident.first_name.capitalize %>
    <br>
    <i class="fa-regular fa-face-frown"></i>
    </h3>

    <%= link_to "Add contact", "#", class: "button-primary-2care" %>

<% else %>

  <div class="row mt-5">
    <% @family_members.each do |family_member| %>
        <%= link_to resident_family_member_path(@resident, family_member) do %>
          <div class="col mb-3">
            <%= render "family_member_card", family_member: family_member %>
          </div>
      <% end %>
    <% end %>
  </div>

<% end %>
