<div id="categoryCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="999999" data-controller="report" data-action="slide.bs.carousel->report#callSubmit">
  <div class="carousel-inner">
    <% @categories.each_with_index do |category, index| %>
      <div class="carousel-item <%= index == 0 ? 'active' : '' %>" data-report-target="formCarouselItem">
        <div class=" mx-auto w-75">
          <h1 class="page-title text-center"><%= category.name.capitalize %></h1>
          <div class="category-icon">
            <%= category.icon.html_safe %>
          </div>
          <%= simple_form_for [@report, @report_category], html: { report_target: "form" } do |f| %>
            <% category.options.each_with_index do |option, option_index| %>
              <div class="option-wrapper option-<%= option_index %>">
                <fieldset class="mb-3 radio_buttons optional report_category_option_id">
                  <input class="form-check-input radio_buttons optional d-none" type="radio" value="<%= option.id %>" name="report_category[option_id]" id="report_category_option_id_<%= option.id %>">
                  <label class="option collection_radio_buttons d-flex gap-3" for="report_category_option_id_<%= option.id %>">
                    <%= option.name.capitalize %>
                    <% case option %>
                    <% when category.options[0]%>
                      <h2><i class="fa-regular fa-face-smile success"></i></h2>
                    <% when  category.options[1]%>
                      <h2><i class="fa-regular fa-face-meh info"></i></h2>
                    <% when  category.options[2]%>
                      <h2><i class="fa-regular fa-face-frown danger"></i></h2>
                    <% end %>
                  </label>
                </fieldset>
              </div>
            <% end %>

            <%= f.input :category_id, as: :hidden, input_html: { value: category.id } %>
            <%= f.input :additional_informations, label: false, input_html: { placeholder: "Additional information" }, class:"m-5 rounded fixed-bottom mb-3" %>

            <% if category == @categories.last %>
              <%= f.submit "Preview report", class: "button-primary-2care btn"%>
            <% else %>
              <%= f.submit "Submit", class: "d-none"%>
            <% end %>
          <% end %>
        </div>
        <% unless category == @categories.first %>
          <a class="carousel-control-prev" href="#categoryCarousel" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon visually-hidden" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </a>
        <% end %>

        <% unless category == @categories.last %>
          <a class="carousel-control-next" href="#categoryCarousel" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon visually-hidden" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </a>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
