<div class="main-navbar position-relative justify-content-<%= (controller_name == "report_categories" && action_name =="new") ? "end" : "between" %>">
  <%#= link_to :request.referrer do %>
  <%= render "shared/navbar_back_btn" %>
  <%#= link_to 'javascript:history.back()' do %>

    <% if controller_name == "family_members" && action_name == "index" || (controller_name == "reports" && action_name == "index")  %>

      <%= link_to resident_path(@resident.id), class: "navbar-text" do %>
        <h2><%= @resident.first_name.capitalize %></h2>
      <% end %>

    <% elsif controller_name == "family_members" && action_name == "show" %>

        <h2 class="navbar-text text-center w-100"><%= @resident.first_name.capitalize %>'s <%= @family_member.relationship %></h2>

    <% elsif controller_name == "report_categories" || (controller_name == "reports" && action_name == "show") %>

      <h2 class="navbar-text text-center w-100"><%= @report.resident.first_name.capitalize %>'s Report</h2>

    <% elsif controller_name == "reports" %>

      <h2 class="navbar-text text-center w-100"><%= @resident.first_name.capitalize %>'s Report</h2>

    <% else %>

      <%= link_to dashboard_path, class: "logo" do %>
        <%= image_tag "logo2care.png", alt: "logo 2 care", class: "logo" %>
      <% end %>

    <% end %>
  <%# TODO: this icon only appears on the report creation and it will LINK to a modal %>
  <%# to confirm if the user really wants to leave the report %>

  <% if controller_name == "report_categories" %>
    <div class="icon-div-right"
          data-controller="alert"
          data-action="click->alert#initSweetalert"
          data-alert-icon-value="warning"
          data-alert-url-value="<%= resident_path(@report.resident_id)%>"
          data-alert-title-value="Are you sure you want to leave the report?"
          data-alert-html-value=""
          data-alert-show-confirm-button-value="true"
          data-alert-show-cancel-button-value="true"
          data-alert-cancel-button-text-value="Close"
          data-alert-confirm-button-text-value="Go to Profile"
          style="z-index: 10">
      <i class="fa-solid fa-xmark"></i>
    </div>
  <% else %>
    <%= link_to "#" do %>
      <div class="icon-div-right">
        <i class="fa-solid fa-xmark d-none"></i>

      </div>
    <% end %>
  <% end %>
</div>
