<div class="menu-bar">

  <% if controller_name == "report_categories" || controller_name == "reports" && action_name == "show" %>

    <div>

    </div>

  <% elsif controller_name == "pages" && action_name == "dashboard" %>

    <%= render "shared/menu-bar-dashboard" %>

  <% elsif controller_name == "residents" && action_name == "index" %>

    <%= render "shared/menu-bar-residents" %>

  <% elsif controller_name == "pages" && action_name == "search" %>

    <%= render "shared/menu-bar-search" %>

  <% elsif controller_name == "pages" && action_name == "account" %>

    <%= render "shared/menu-bar-account" %>

  <% else %>

    <%= render "shared/menu-bar-default" %>

  <% end %>

</div>
