<div class= "d-flex justify-content-between align-items-baseline">
  <h1 class="page-title">My Account</h1>
  <div class="page-title">
    <%= link_to edit_user_registration_path do %>
      <i class="fa-solid fa-pen-to-square"></i></button>
    <% end %>
  </div>
</div>

<div>
  <%= image_tag  %>
</div>

<div class="row d-flex flex-row ">
  <div class="col">
    <div class="d-flex flex-row justify-content-between border-bottom mb-3 gap-3">
      <div class="flex-grow-1">
        <strong><p>First Name</p></strong>
        <div class="white-button mb-2">
          <div class="d-flex">
            <p class="p-2 m-0"><%= current_user.first_name.capitalize %></p>
          </div>
        </div>
      </div>
      <div class="flex-grow-1">
        <strong><p>Last Name</p></strong>
        <div class="white-button mb-2">
          <div class="d-flex">
            <p class="p-2 m-0"><%= current_user.last_name.capitalize %></p>
          </div>
        </div>
      </div>
    </div>
    <div class="flex-row justify-content-between border-bottom mb-3">
      <div>
        <strong><p>Email</p></strong>
        <div class="white-button mb-2">
          <div class="d-flex">
            <p class="p-2 m-0"><%= current_user.email %></p>
          </div>
        </div>
      </div>
    </div>
    <div class="flex-row justify-content-between">
      <div>
        <strong><p>Password</p></strong>
        <div class="white-button mb-2">
          <div class="d-flex">
            <p class="p-2 m-0">*********</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div>

  <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class:"button-danger-2care my-3" %>
</div>
