<%= render "shared/main-navbar" %>

<div>
  <h1 class="page-title">Dashboard</h1>
</div>

<%= link_to 'New report', root_path, class:'button-primary-2care' %>
<%= link_to 'Click me!', root_path, class:'button-secondary-2care' %>
<%= link_to 'My residents', residents_path, class:'btn-primary-2care' %>

<%= render "shared/menu-bar" %>


<div data-controller="alert">
  <%= link_to 'Click me!', root_path, class:'button-secondary-2care', data:{action: "click->alert#initSweetalert"} %>
</div>
