<div class= "d-flex justify-content-between align-items-baseline">
  <h1 class="page-title">Find a Resident</h1>
  <div class="page-title">
    <button data-toggle-items-target="searchIcon"><i class="fa-solid fa-magnifying-glass d-none" data-action="click->toggle-items#displaySearch"></i></button>
    <button><i class="fa-solid fa-plus d-none"></i></button>
  </div>
</div>

<div class="search_residents my-4">
  <%= form_with url: search_path, method: :get, class: "d-flex", data: { controller: "search-form" } do |form| %>
    <%= form.text_field :query,
          class: "form-control",
          placeholder: "Type the name of a resident",
          data: { target: "search-form.input" } %>
    <%= form.submit "Search", class: "button-primary-2care" %>
  <% end %>
</div>

<div class="row">
  <% if @residents.present? %>
    <% @residents.each do |resident| %>
      <%= link_to resident_path(resident) do %>
        <div class="col mb-3">
          <%= render "residents/resident_card", resident: resident %>
        </div>
      <% end %>
    <% end %>
  <% else %>
    <div class="col mb-3">
      <h3 class="grey-empty-text">No residents found
      <br>
      <i class="fa-regular fa-face-frown"></i>
      </h3>
    </div>
  <% end %>
</div>
