<style>
  body{
    font-family: sans-serif;
    /* background-color: green;

    p{
    color: blue;
    } */
  }
</style>

<body>
  <h3>Dear Mr <%= "#{@family_member.first_name.capitalize} #{@family_member.last_name.capitalize}"%>,</h3>

  <p>This is your daily report for your relative <strong><%= "#{@resident.first_name.capitalize} #{@resident.last_name.capitalize}" %>. 👴</strong></p>

  <h4>Daily Report 📑: <%= @report.created_at.strftime('%e') + @report.created_at.strftime('th %B %Y') %></h4>

  <ul>
    <% @report.report_categories.each do |report_category| %>
    
      <li>
        <h3><%= report_category.category.name.capitalize %> : <%= report_category.option.name.capitalize %></h3>

        <% if report_category.additional_informations.present? %>
          <p><%= report_category.additional_informations %></p>
        <% end %>
      </li>
    <% end %>
  </ul>
</body>

<br>

<p>Please contact us in case you need any extra information about your relative.</p>

<p>Kind Regards,</p>
<p>2Care Management</p>
<p>* Keeping families informed *</p>
