<style>
  body{
    font-family: sans-serif;
    /* background-color: green;

    p{
    color: blue;
    } */
  }

  .rounded-circle {
    border-radius: 50%;
    width: 20px;
    height: 20px;
  }
</style>

<body>
  <h3>Dear Mr <%= "#{@family_member.first_name.capitalize} #{@family_member.last_name.capitalize}"%>,</h3>

  <p>This is your daily report for your relative <strong><%= "#{@resident.first_name.capitalize} #{@resident.last_name.capitalize}" %>. 👴</strong></p>

  <h4>Daily Report 📑: <%= @report.created_at.strftime('%e') + @report.created_at.strftime('th %B %Y') %></h4>

  <ul style="list-style: none; padding-left: 12px;">
    <% @report.report_categories.each do |report_category| %>

      <li>
        <h4 style="margin-bottom: 0px;">
          <% if report_category.option.score == 3 %>
            <% option_color = "🟢" %>
          <% elsif report_category.option.score == 2 %>
            <% option_color = "🟡" %>
          <% elsif %>
            <% option_color = "🔴" %>
          <% end %>

          <%= option_color %> <%= report_category.category.name.capitalize %><span style="font-weight: normal">: <%= report_category.option.name.capitalize %></span>
        </h4>

        <% if report_category.additional_informations.present? %>
          <p style="padding-left: 24px; margin-top: 0px;"><%= report_category.additional_informations %></p>
        <% end %>
      </li>
    <% end %>
  </ul>
</body>

<br>

<p>Please contact us in case you need any extra information about your relative.</p>

<p>Kind Regards,</p>
<p>2Care Management</p>
<p>* Keeping families informed *</p>
