<div class="profile-card mb-3">
  <div class="card-height d-flex justify-content-between align-items-center">
    <%# <div> %>
      <% #if resident.photo.attached? %>
      <% if resident.photography.present? %>
        <%#= cl_image_tag resident.photo.key, crop: :fill %>
        <%= image_tag resident.photography %>
      <% else %>
        <%= image_tag "https://upload.wikimedia.org/wikipedia/commons/8/89/Portrait_Placeholder.png", crop: :fill %>
      <% end %>

    <%# </div> %>
    <div class="profile-card-infos flex-grow-1 text-start ms-3">
      <div>
        <h3><%= resident.first_name.capitalize %> <%= resident.last_name.capitalize %></h3>
      </div>
      <div class="d-flex flex-row justify-content-start gap-4">
        <div>
          <p class="grey-text">Birthday</p>
          <p class="blue-text"><%= resident.birth_date.strftime("%-d %b") %></p>
        </div>
        <div>
          <p class="grey-text">Clinical info</p>
          <p class="blue-text clinical-info"><%= resident.clinical_info.capitalize %></p>
        </div>
      </div>
    </div>
  </div>
</div>
