<div class="card-resident">
  <div class="flex-card d-flex">
    <%= cl_image_tag resident.photo.key, crop: :fill %>
    <div class="card-resident-infos">
      <div>
        <h4><%= resident.first_name.capitalize %> <%= resident.last_name.capitalize %></h4>
        <p><%= resident.clinical_info.capitalize %></p>
      </div>
    </div>
  </div>
  <div class="card-resident-icon">
    <%= link_to "" do %>
      <i class="fa-solid fa-file-pen"></i>
    <% end %>
  </div>
</div>
