<div>
  <h1 class="page-title">Profile</h1>
</div>


<%= render "profile-card", resident: @resident %>

<%= link_to "#" do %>
  <div class="white-button d-flex flex-row justify-content-between align-items-center mb-2">
    <div class="d-flex flew-row align-items-center">
      <div class="icon-div">
        <i class="fa-solid fa-info p-2"></i>
      </div>
      <p class="p-2 m-0">Full info</p>
    </div>
    <i class="fa-solid fa-angle-right p-2"></i>
  </div>
<% end %>

<%= link_to "#" do %>
  <div class="white-button d-flex flex-row justify-content-between align-items-center mb-2">
    <div class="d-flex flew-row align-items-center">
      <div class="icon-div">
        <i class="fa-solid fa-phone p-2"></i>
      </div>
      <p class="p-2 m-0">Contacts</p>
    </div>
    <i class="fa-solid fa-angle-right p-2"></i>
  </div>
<% end %>

<%= link_to "#" do %>
  <div class="white-button d-flex flex-row justify-content-between align-items-center mb-2">
    <div class="d-flex flew-row align-items-center">
      <div class="icon-div">
        <i class="fa-solid fa-file p-2"></i>
      </div>
      <p class="p-2 m-0">Reports</p>
    </div>
    <i class="fa-solid fa-angle-right p-2"></i>
  </div>
<% end %>

<%= link_to "#" do %>
  <div class="white-button d-flex flex-row justify-content-between align-items-center mb-2">
    <div class="d-flex flew-row align-items-center">
      <div class="icon-div">
        <i class="fa-regular fa-calendar-days p-2"></i>
      </div>
      <p class="p-2 m-0">Calendar</p>
    </div>
    <i class="fa-solid fa-angle-right p-2"></i>
  </div>
<% end %>

<%= link_to "#" do %>
  <div class="white-button d-flex flex-row justify-content-between align-items-center mb-2">
    <div class="d-flex flew-row align-items-center">
      <div class="icon-div">
        <i class="fa-solid fa-pills p-2"></i>
      </div>
      <p class="p-2 m-0">Medication</p>
    </div>
    <i class="fa-solid fa-angle-right p-2"></i>
  </div>
<% end %>

<%= render "reports/form_report", resident: @resident, report: @report %>

<%= render "shared/menu-bar" %>
