<!DOCTYPE html>
<html>
  <head>
    <title>App2care</title>
    <%= favicon_link_tag "favicon.png", rel: "icon", type: "image/png" %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if controller_name == "pages" && action_name == "home" %>
        <%= yield %>
      <% else %>
      <%= render "shared/main-navbar" %>
        <div class="row justify-content-center div-margin-top">
          <div class="col-10">
            <%= yield %>
          </div>
        </div>
    <% end %>
  </body>
</html>
